.app {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.container {
    width: 250px;
    border: 2px solid black;
    border-radius: 7px;
    text-align: center;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.number {
    height: 100px;
    border: 2px solid black;
    border-radius: 7px;
    font-size: 40px;
    color: darkslateblue;
    background-color: powderblue;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.buttons {
    border: 2px solid black;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: powderblue;
    border: 2px solid white;
    border-radius: 7px;
    width: 70px;
    height: 30px;
    margin: 15px 0;
    font: bold 120% "Fira Code", sans-serif;
}

.button:first-child {
    margin-right: 10px;
}

.button:last-child {
    margin-left: 10px;
}

.maxNumber {
    height: 100px;
    border: 2px solid red;
    border-radius: 7px;
    font-size: 60px;
    color: red;
    background-color: powderblue;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}

.error {
    height: 100px;
    border: 2px solid red;
    border-radius: 7px;
    font-size: 20px;
    color: red;
    background-color: powderblue;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    outline: none;
}

.errorInput {
    border: 2px solid red;
    outline: none;
    background-color: hotpink;
}

.editMode {
    height: 100px;
    border: 2px solid black;
    border-radius: 7px;
    font-size: 20px;
    color: darkslateblue;
    background-color: powderblue;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.span {
    font-size: 20px;
}

.spanAndInput {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    flex-wrap: nowrap;
    align-content: stretch;
}

